---
extends:
  - airbnb-base
  - plugin:import/errors

plugins:
  - import
  - promise

rules:
  indent: [error, 4]
  consistent-return: [error, { treatUndefinedAsUnspecified: true }]
  import/no-unresolved: [error, { commonjs: true }]
