---
extends:
  - formidable/configurations/es6-node
  - plugin:import/errors

plugins:
  - import
  - promise

rules:
  consistent-return: [error, { treatUndefinedAsUnspecified: true }]
  import/no-unresolved: [error, { commonjs: true }]
